@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: roboto;
    margin: 0px;
    padding: 0px;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-section {
    background-color: #1F2937;
    width: 100%;
    padding-top: 10px;
}

.header {    
    margin: 0 13%;
    height: 2em;
    display: flex;
    align-items: center;
    padding: 15 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color:#F9FaF8;
}

.push-right {
    margin-left: auto;
}

.header ul {
    list-style-type: none;
    display: flex;
}

li {
    padding-left: 8px;
    padding-right: 8px;
}

.hero {
    margin: 0 13%;
    height: 20em;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.hero-title {
    font-size: 48px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-left {
    width: 50%;
    max-height: 250px;
    min-width: 300px;
    font-size: 18px;
}

.left-text {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 7px 18px;
    border-radius: 5px;
    margin-top: 7px;
}

.hero-right {
    background-color: gray;
    color: #E5E7EB;
    width: 40%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.cards {
    background-color: white;
    height: 28em;
}

.card-title {
    font-size: 36px;
    color: #1f2937;
    margin: 30px 0;
    font-weight: bold;
    background-color: white;
    text-align: center;
}

.card-section {
    display: flex;
    gap: 30px;
}

.card-container {
    display: flex;
    flex-direction: column;
    
}

.card {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    
}

.card-text {
    width: 150px;
    text-align: center;
    padding-top: 5px;
}

.quote-container {
    background-color: #E5E7EB;
    height: 20em; 
    width: 100%;
    display: flex;
    justify-content: center;
}

.quote {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
    font-size: 36px;
}

.author {
    margin-left: auto;
    padding-top: 15px;
    font-weight: bold;
    font-size: 24px;
}

.call-to-action-container {
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-box {
    background-color: #3882F6;
    width: 700px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: #E5E7EB;
}

.cta-button {
    border-style: solid;
    border-color: #E5E7EB;
    border-width: 2px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px;
    width: 85px;
}

.cta-title {
    font-weight: bold;
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
    width: 100%;
    color: #E5E7EB;
    padding: 25px;
    text-align: center;
}



